
<% if @task.errors.any? %>
    <div>
        <h2><%= pluralize(@task.errors.count, "error")%> prohibited this task to saved:</h2>
        <ul>
            <% @task.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <%end%>
        </ul>
    </div>
<%end%>
